body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-color:FEFAE0;
}

.backgroundimage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(2.3px); 
    z-index: -1;
    
}

#places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%;
    
}

#places img {
    max-width: 100%;
    border-radius: 8px;
}

#places .place {
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 300px;
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color:#EDE8DC;
    margin-top:-100px;


}

#gallery .slideshow-container {
    position: relative;
}

.new{
    text-align:center;
    font-size:53px;
    font-family:Raleway, sans-serif;
    

}    

.para{
    text-align:center;
}

.location{
    width: 85%;
    max-width: 2500px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 12px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.location .heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
  
}

.location p{
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}


